* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  background-image: url("../images/restaurant.jpg");
  background-size: 100% 100%;
  height: 100vh;
  padding: 50px;
}

.tab {
  flex-direction: column;
  color: rgb(241, 235, 224);
}
