.tab-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(218, 154, 95, 0.2);
  width: 100%;
  height: 89vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tab-content::-webkit-scrollbar {
  display: none;
}
